@layer reset, base, tokens, recipes, utilities;

/* $dot-color: #5c5959;

$dot-size: 1px;
$dot-space: 22px; */

* {
  font-family: 'Inter';
}

body {
  background-color: #141414;
  /* overflow: hidden; */
}

.__days {
  font-family: 'Days one';
}

::-webkit-scrollbar {
  background-color: rgb(58, 56, 56);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #cfd0c8;
}

@keyframes animateThis {
  0% {
    rotate: 1deg;
  }
  50% {
    rotate: -1deg;
  }
  100% {
    rotate: 1deg;
  }
}

.__checkbox_before::before {
  width: var(--checkbox-before-width);
}
