@layer reset, base, tokens, recipes, utilities;

/* $dot-color: #5c5959;

$dot-size: 1px;
$dot-space: 22px; */

* {
  font-family: 'Inter';
}

body {
  background-color: #1f1f1f;
  overflow: hidden;
}

.__days {
  font-family: 'Days one';
}

.__decoration {
  background-color: #1f1f1f;
  background-image: linear-gradient(#2e2f30 1px, transparent 0.5px),
    linear-gradient(to right, #2e2f30 1px, #1f1f1f 0.5px);
  background-size: 100px 100px;
}

::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgb(58, 56, 56);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(117, 114, 114);
  border-radius: 5px;
}
