@layer tokens {
    :where(:root, :host) {
  --font-sizes-xs: .75rem;
  --font-sizes-sm: .875rem;
  --font-sizes-base: 1rem;
  --font-sizes-lg: 1.125rem;
  --font-sizes-xl: 1.25rem;
  --font-sizes-2xl: 1.5rem;
  --font-sizes-3xl: 1.875rem;
  --font-sizes-4xl: 2.25rem;
  --font-sizes-5xl: 3rem;
  --font-sizes-6xl: 4rem;
  --colors-current: currentColor;
  --colors-dark: #111;
  --colors-black: #000;
  --colors-white: #CFD0C8;
  --colors-gray-50: #f9fafb;
  --colors-gray-100: #f3f4f6;
  --colors-gray-200: #e5e7eb;
  --colors-gray-300: #d1d5db;
  --colors-gray-400: #9ca3af;
  --colors-gray-500: #6b7280;
  --colors-gray-600: #4b5563;
  --colors-gray-700: #374151;
  --colors-gray-800: #1f2937;
  --colors-gray-900: #111827;
  --colors-gray-950: #030712;
  --colors-neutral-50: #fafafa;
  --colors-neutral-100: #f5f5f5;
  --colors-neutral-200: #e5e5e5;
  --colors-neutral-300: #d4d4d4;
  --colors-neutral-400: #a3a3a3;
  --colors-neutral-500: #737373;
  --colors-neutral-600: #525252;
  --colors-neutral-700: #404040;
  --colors-neutral-800: #262626;
  --colors-neutral-900: #171717;
  --colors-neutral-950: #0a0a0a;
  --colors-red-50: #fef2f2;
  --colors-red-100: #fee2e2;
  --colors-red-200: #fecaca;
  --colors-red-300: #fca5a5;
  --colors-red-400: #f87171;
  --colors-red-500: #ef4444;
  --colors-red-600: #dc2626;
  --colors-red-700: #b91c1c;
  --colors-red-800: #991b1b;
  --colors-red-900: #7f1d1d;
  --colors-red-950: #450a0a;
  --colors-orange-50: #fff7ed;
  --colors-orange-100: #ffedd5;
  --colors-orange-200: #fed7aa;
  --colors-orange-300: #fdba74;
  --colors-orange-400: #fb923c;
  --colors-orange-500: #f97316;
  --colors-orange-600: #ea580c;
  --colors-orange-700: #c2410c;
  --colors-orange-800: #9a3412;
  --colors-orange-900: #7c2d12;
  --colors-orange-950: #431407;
  --colors-yellow-50: #fefce8;
  --colors-yellow-100: #fef9c3;
  --colors-yellow-200: #fef08a;
  --colors-yellow-300: #fde047;
  --colors-yellow-400: #facc15;
  --colors-yellow-500: #eab308;
  --colors-yellow-600: #ca8a04;
  --colors-yellow-700: #a16207;
  --colors-yellow-800: #854d0e;
  --colors-yellow-900: #713f12;
  --colors-yellow-950: #422006;
  --colors-blue-50: #eff6ff;
  --colors-blue-100: #dbeafe;
  --colors-blue-200: #bfdbfe;
  --colors-blue-300: #93c5fd;
  --colors-blue-400: #60a5fa;
  --colors-blue-500: #3b82f6;
  --colors-blue-600: #2563eb;
  --colors-blue-700: #1d4ed8;
  --colors-blue-800: #1e40af;
  --colors-blue-900: #1e3a8a;
  --colors-blue-950: #172554;
  --colors-black-alpha-50: rgba(0, 0, 0, 0.04);
  --colors-black-alpha-100: rgba(0, 0, 0, 0.06);
  --colors-black-alpha-200: rgba(0, 0, 0, 0.08);
  --colors-black-alpha-300: rgba(0, 0, 0, 0.16);
  --colors-black-alpha-400: rgba(0, 0, 0, 0.24);
  --colors-black-alpha-500: rgba(0, 0, 0, 0.36);
  --colors-black-alpha-600: rgba(0, 0, 0, 0.48);
  --colors-black-alpha-700: rgba(0, 0, 0, 0.64);
  --colors-black-alpha-800: rgba(0, 0, 0, 0.80);
  --colors-black-alpha-900: rgba(0, 0, 0, 0.92);
  --colors-white-alpha-50: rgba(255, 255, 255, 0.04);
  --colors-white-alpha-100: rgba(255, 255, 255, 0.06);
  --colors-white-alpha-200: rgba(255, 255, 255, 0.08);
  --colors-white-alpha-300: rgba(255, 255, 255, 0.16);
  --colors-white-alpha-400: rgba(255, 255, 255, 0.24);
  --colors-white-alpha-500: rgba(255, 255, 255, 0.36);
  --colors-white-alpha-600: rgba(255, 255, 255, 0.48);
  --colors-white-alpha-700: rgba(255, 255, 255, 0.64);
  --colors-white-alpha-800: rgba(255, 255, 255, 0.80);
  --colors-white-alpha-900: rgba(255, 255, 255, 0.92);
  --colors-green-50: #f0fdf4;
  --colors-green-100: #dcfce7;
  --colors-green-200: #bbf7d0;
  --colors-green-300: #86efac;
  --colors-green-400: #4ade80;
  --colors-green-500: #22c55e;
  --colors-green-600: #16a34a;
  --colors-green-700: #15803d;
  --colors-green-800: #166534;
  --colors-green-900: #14532d;
  --colors-green-950: #0a2f1f;
  --colors-primary: #3498db;
  --colors-danger: #dd3d59;
  --colors-success: #3d8b2e;
  --colors-warn: #e5871a;
  --colors-special: #f7931e;
  --colors-special-bg: #5D5FEF30;
  --colors-inactive: #1f1f1f;
  --colors-hover-special: #4849B9;
  --colors-fonts-primary: #ffffff;
  --colors-fonts-secondary: #8b8787;
  --colors-fonts-danger: #b35454;
  --colors-fonts-danger-hover: #bd3838;
  --colors-fonts-special: #f7931e;
  --colors-fonts-warn: #e5871a;
  --colors-news-special: #f7931e;
  --colors-news-fonts-label: #606260;
  --colors-news-fonts-primary: #CFD0C8;
  --colors-news-fonts-reverse\.primary: black;
  --colors-news-borders-grey: #262626;
  --colors-news-borders-tertiary: #2E2E2E;
  --colors-news-backgrounds-primary: #141414;
  --colors-news-backgrounds-secondary: #1A1A1A;
  --colors-news-backgrounds-tertiary: #222222;
  --borders-special-dashed: 1px dashed #f7931e;
  --borders-news-grey: 1px solid #262626;
  --borders-news-tertiary: 1px solid #2E2E2E;
  --gradients-decoration: linear-gradient(39deg, rgba(0,0,0,1) 0%, rgba(62,62,61,1) 100%);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-color-palette-50: var(--colors-color-palette-50);
  --colors-color-palette-100: var(--colors-color-palette-100);
  --colors-color-palette-200: var(--colors-color-palette-200);
  --colors-color-palette-300: var(--colors-color-palette-300);
  --colors-color-palette-400: var(--colors-color-palette-400);
  --colors-color-palette-500: var(--colors-color-palette-500);
  --colors-color-palette-600: var(--colors-color-palette-600);
  --colors-color-palette-700: var(--colors-color-palette-700);
  --colors-color-palette-800: var(--colors-color-palette-800);
  --colors-color-palette-900: var(--colors-color-palette-900);
  --colors-color-palette-950: var(--colors-color-palette-950);
  --colors-color-palette-special: var(--colors-color-palette-special);
  --colors-color-palette-primary: var(--colors-color-palette-primary);
  --colors-color-palette-secondary: var(--colors-color-palette-secondary);
  --colors-color-palette-danger: var(--colors-color-palette-danger);
  --colors-color-palette-danger-hover: var(--colors-color-palette-danger-hover);
  --colors-color-palette-warn: var(--colors-color-palette-warn);
  --colors-color-palette-label: var(--colors-color-palette-label);
  --colors-color-palette-reverse\.primary: var(--colors-color-palette-reverse-primary);
  --colors-color-palette-grey: var(--colors-color-palette-grey);
  --colors-color-palette-tertiary: var(--colors-color-palette-tertiary)
}
  }
  