@layer tokens {
    :where(:root, :host) {
  --colors-primary: #3498db;
  --colors-danger: #dd3d59;
  --colors-success: #3d8b2e;
  --colors-warn: #e5871a;
  --colors-special: #00A86B;
  --colors-inactive: #1f1f1f;
  --colors-hover-special: #007E50;
  --colors-fonts-primary: #ffffff;
  --colors-fonts-secondary: #8b8787;
  --colors-fonts-special: #b35454;
  --colors-fonts-special-hover: #bd3838;
  --gradients-decoration: linear-gradient(39deg, rgba(0,0,0,1) 0%, rgba(62,62,61,1) 100%);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-color-palette-special: var(--colors-color-palette-special);
  --colors-color-palette-primary: var(--colors-color-palette-primary);
  --colors-color-palette-secondary: var(--colors-color-palette-secondary);
  --colors-color-palette-special-hover: var(--colors-color-palette-special-hover)
}
  }
  