@import '../../scss/v';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  width: 100%;

  label {
    color: grey;
    font-size: 10px;
    margin-left: 5px;
  }
}

.body {
  background-color: grey;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  justify-content: space-between;
  transition: 0.3s;
  background-color: #2b2929;

  &:has(input:focus) {
    transition: 0;
    outline: 1px solid rgb(77, 76, 76);
  }

  p {
    font-size: 10px;
    cursor: pointer;
    font-weight: 900;
    color: grey;
  }

  input {
    color: white;
    height: 30px;
    background: none;
    border: none;
    flex: 1;

    &:focus {
      outline: none;
    }
  }
}
