@import '../../../scss/v';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 100px;
  border-bottom: 1px solid #333131;
  background-color: #191919;
}

.nav {
  ul {
    display: flex;
    list-style: none;
    color: $--clr-font-secondary;
    gap: 25px;
    align-items: center;
    font-size: 14px;
  }
}
