@import '../../../scss/v';

.item {
  padding: 15px;
  display: flex;
  color: white;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    background-color: #1f1f1f;
  }

  svg {
    color: $--clr-font-secondary;
  }
}
